{{ define "main" }}
<!--  PAGE HEADING -->
<section class="page-header" data-stellar-background-ratio="0.1">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3>Contact Us</h3>
      </div>
    </div> <!-- end .row  -->
  </div> <!-- end .container  -->
</section> <!-- end .page-header  -->
<!--  MAIN CONTENT  -->
<section class="section-content-block section-contact-block">
  <div class="container contact-page">
    <div class="row">
      <div class="col-sm-6 wow fadeInLeft">
        <div class="contact-form-block">
          {{ with $.Site.GetPage "page" "contact.md" }}
          <h2 class="contact-title">{{  .Content }}</h2>
          {{  end }}
          <form role="form" action="https://formspree.io/f/mpzoejrq" method="post" id="contact-form">
            <div class="form-group">
                <label for="author">Name</label>
                <input type="text" class="form-control" id="author">                                  
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
              <label for="url">Subject</label>
              <input type="text" class="form-control" id="url">
            </div>
            <div class="form-group">
              <label for="message">Message</label>
              <textarea class="form-control" rows="5" name="comment" id="comment"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-custom">Send Message</button>
            </div>
          </form>
        </div> <!-- end .contact-form-block  -->
      </div> <!--  end col-sm-6  -->
      <div class="col-sm-6 wow fadeInRight">
        <div class="content-block">
          <h2 class="contact-title">Contact us</h2>
          <ul class="contact-info">
            <li>
              <span class="icon-container"><i class="fa fa-home"></i></span>
              <address>Ottawa, Ontario, Canada</address>
            </li>
            <li>
              <span class="icon-container"><i class="fa fa-globe"></i></span>
              <address><a href="/contact">www.no5gforhumanity.com</a></address>
            </li>
          </ul>
          <!-- <h2 class="contact-title">We are social</h2>
          <div class="social-icons margin-top-11 clearfix">
            <a title="Share at Facebook" href="" class="btn btn-social-icon btn-facebook petition_share">
              <i class="fa fa-facebook"></i>
            </a>
            <a title="Tweet It" href="#" class="btn btn-social-icon btn-twitter petition_share">
              <i class="fa fa-twitter"></i>
            </a>
          </div> -->
        </div> <!-- end .content-block  -->
      </div> <!--  end col-sm-6  -->
    </div> <!-- end row  -->
  </div> <!--  end .container -->
</section> <!-- end .section-content-block  -->
{{ end }}