<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
{{- partial "head.html" . -}}
  <body> 
    {{- partial "header.html" . -}}
    <main>
    {{- block "main" . }}{{- end }}
    </main>
    {{- partial "footer.html" . -}}
    <!-- Back To Top Button  -->
    <a id="backTop">Back To Top</a>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/wow.min.js"></script>
    <script src="/js/jquery.backTop.min.js "></script>
    <script src="/js/waypoints.min.js"></script>
    <script src="/js/waypoints-sticky.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.stellar.min.js"></script>
    <script src="/js/jquery.counterup.min.js"></script>
    <script src="/js/venobox.min.js"></script>
    <script src="/js/custom-scripts.js"></script>
  </body>
</html>