<!-- 5G DONATION SECTION  -->

<!-- <section class="section-content-block section-client-logo">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h2 class="section-heading"><span>Our</span> Donors</h2>
        <p class="section-subheading">
            YOU CAN JOIN WITH US BY DONATION AND ENCOURAGE PEOPLE TO AVOID USING 5G.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="logo-items logo-layout-1 text-center">
        <div class="logo">
          <img src="/images/logo_1.png" alt="" />
        </div>
        <div class="logo">
          <img src="/images/logo_2.png" alt="" />
        </div>
        <div class="logo">
          <img src="/images/logo_3.png" alt="" />
        </div>
        <div class="logo">
          <img src="/images/logo_4.png" alt="" />
        </div>
        <div class="logo">
          <img src="/images/logo_5.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>-->