<!-- FOOTER  -->
<footer>
  <!-- FOOTER WIDGET AREA -->
  <section class="section-content-block footer-widget-area-bg">
    <div class="container">
      <div class="row">       
        <div class="col-md-12">
          <div class="footer-widget-area">
            <div class="row">       
              <div class="col-md-3">
                <div class="footer-logo" >
                  <img src="/images/logo-footer.png" alt="Logo" width="205">
                </div>
              </div>
              <div class="col-md-9">
                <div>
                  <p>Research studies that reveal the impact of 5G on the world.</p>
                  <a href="/research-studies">Read More</a>
                </div>
              </div>
            </div>  <!--  end .row  -->
          </div>
        </div>
      </div>          
    </div> <!-- end .container  -->
  </section> <!--  end .footer-widget-area-bg -->

  <!--FOOTER CONTENT  -->
  <section class="footer-section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <span>Copyright © 2021. All Rights Reserved
          </span>
        </div> <!-- end .col-md-6  -->  
        <div class="col-md-8 col-sm-12">
          <div class="footer-nav">
            <nav>
              <ul>
                <li>
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/5g-radiation">5G Radiation</a>
                </li>
                <li>
                  <a href="/protect-yourself">Protect Yourself</a>
                </li>
                <li>
                  <a href="/research-studies">Research Studies</a>
                </li>
                <li>
                  <a href="/contact">Contact</a>
                </li>
                <li>
                  <a target="_donate" href="https://www.gofundme.com/f/no-5g-for-humanity-now-or-never/donate">Donate</a>
                </li>
              </ul>
            </nav>
          </div>
        </div> <!-- end .col-md-6  --> 
      </div> <!-- end .row  --> 
    </div> <!-- end .container  --> 
  </section>  <!--  end .footer-area -->
</footer> <!--  end of footer -->