<!--  HEADER -->
<header class="main-header clearfix">
  <div class="top-bar">
<div class="container">
   <!-- <div class="row clearfix">
    <div class="col-md-6 col-sm-12">
      <div class="contact-info">
        <div class="contact-details">
          <div class="social-icons">
            <a href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="#">
                <i class="fa fa-pinterest-p"></i>
            </a>
            <a href="#">
                <i class="fa fa-instagram"></i>
            </a>
            <a href="#">
                <i class="fa fa-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 text-right hidden-xs top-donation-btn-container">
      <span class="top-phone-no">
          <i class="fa fa-phone-square"></i> 
          (613) 620-8830
      </span>
      <span class="top-email-info">
          <i class="fa fa-paper-plane"></i>
          <a href="#">ncsolutions111@gmail.com></a>
      </span>
    </div>
  </div> --> <!-- end .row  -->
</div> <!--  end .container -->
</div> <!--  end .top-bar  -->
  <section class="header-wrapper navgiation-wrapper">
    <nav class="navbar navbar-default">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="logo" href="/"><img alt="" src="/images/logo.png"></a>
        </div>
        <div class="collapse navbar-collapse">   
          <ul class="nav navbar-nav navbar-right">
            <li><a  class="" href="/" title="Home">Home</a></li>
            <li><a href="/what-is-5g" title="What Is 5G">What Is 5G?</a></li>
            </li>
            <li><a href="/protect-yourself" title="Protect Yourself">Protect Yourself</a></li>
            <li><a href="/research-studies" title="Research Studies">Research Studies</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a class="btn btn-default btn-outline btn-circle top-donate-btn"  target="_donate" href="https://www.gofundme.com/f/no-5g-for-humanity-now-or-never/donate">DONATE NOW</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->
  </section>
</header> <!-- end main-header  -->