{{ define "main" }}

 <!--  HOME BANNER  -->
<section class="section-banner">
  <div class="container wow fadeInUp">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <h3 class="banner-subheading">
          <span>We Are All Energy</span>
        </h3>         
        <h2 class="banner-heading text-shadow">Will 5G Alter that Energy?</h2>
        <a class="btn btn-default about-us-button learn-more-btn" href="/5g-radiation">How Will 5G Impact Your Life?</a>
      </div>
    </div>
  </div>
</section>

<!--  WHAT IS 5G?  -->
<section class="section-content-block who-are-we">
  <div class="container">   
    <div class="row">
      <div class="about-us">        
        <div class="col-md-6 col-sm-12">  
          <div class="about-us-text">
            <h2 class="section-heading-inline">What is 5G?</h2>
            {{ with $.Site.GetPage "page" "what-is-5g.md" }}
            {{  .Content }}
            {{  end }}
            <a class="btn btn-default about-us-button" href="5g-radiation.html">Learn More</a>
            </div> <!--  end .About-text  -->
          </div>
          <div class="col-md-6 col-sm-12 hidden-xs">  
          <figure class="about-us-img">
              <img src="/images/about_us.jpg" alt="About_image" />               
          </figure> <!-- end .About-img  -->
        </div>             
      </div> <!-- end .about action -->
    </div>
  </div> <!-- end .container  -->
</section> <!-- end .about-section-  -->

{{- partial "recent-research-studies.html" . -}}
  
{{- partial "call-to-action/donate.html" . -}}

{{- partial "donors.html" . -}}

{{ end }}