{{ define "main" }}
  <section class="page-header" data-stellar-background-ratio="0.1">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>{{ .Title }}</h3>
        </div>
      </div> <!-- end .row  -->
    </div> <!-- end .container  -->
  </section> <!-- end .page-header  -->
  <section class="section-content-block event-single">
    <div class="container">
      <div class="row">
        <div class="article-event clearfix">
          <div class="col-sm-12">
            <article class="post single-post-inner">
              <div class="post-inner-featured-content">
                <img alt="" src="images/event-01.jpg">
              </div>
              <div class="single-post-inner-title">
                <h2>{{ .Title }}</h2>
                <p class="single-post-meta"><i class="fa fa-user"></i>&nbsp; {{ $.Param "author" }}</p>
              </div>
              <div class="single-post-inner-content">
                {{ .Content }}
              </div>
            </article> <!--  end single-post-container --> 
          </div> <!--  end .single-post-container -->
          <div class="col-sm-4">
            <h4 class="event-content-title">Details</h4>
            <p class="event-content-info">
              <span class="event-sub-content-title">Date:  <em class="date">{{ dateFormat "Monday, Jan 2, 2006 – 15:04 MST" .Date.Local }}</em></span>
              <span class="event-sub-content-title">Event Category:</span>
              {{ if .Params.categories }}
              {{ range .Params.categories }}
              <a title="{{ . }} " href="{{ "/categories/" | relLangURL }}{{ . | urlize }}">{{ . }}, </a>
              {{ end }}
              {{ end }}
              <!-- <span class="event-sub-content-title">Website:</span>
              <a target="_blank" href='../{{ $.Param "website"}}' title='{{ $.Param "website"}}'>{{ $.Param "website"}}</a>  -->
            </p>
          </div> <!-- end .col-sm-4  -->
          <div class="col-sm-4">
            <h4 class="event-content-title">Organizer</h4>
            <p class="event-content-info">
              {{ $.Param "author" }} <br />
              {{ if .Params.phone }}
              <span class="event-sub-content-title">Phone:</span>
              {{ $.Param "phone" }}  <br />
              {{ end }}
              {{ if .Params.email }}
              <span class="event-sub-content-title">Email:</span>
              {{ $.Param "email" }}
              {{ end }}
              {{ if .Params.website }}
              <span class="event-sub-content-title">Website:</span>
              {{ $.Param "website" }}
              {{ end }}
            </p>
          </div> <!-- end .col-sm-4  -->
          <div class="col-sm-4">
            <h4 class="event-content-title">Venue</h4>
              <p class="event-content-info">
                {{ if .Params.venue }}
                {{ $.Param "venue" }}
                {{ end }}
              </p>
            </div> <!-- end .col-sm-4  -->
          </div>
        </div> <!--  end .row  -->
        <div class="row">
          <div class="article-author clearfix">
            <div class="topic-bold-header clearfix">
              <h4>Event Created by {{ $.Param "author" }}</h4>
            </div> <!-- end .topic-bold-header  -->
            {{ if .Params.authorbio }}
            <div class="about_author">
              {{ $.Param "authorbio" }}
            </div>
            {{ end }}
            <!-- <div class="social-icons margin-top-11 clearfix">
              <a class="fa fa-facebook social_icons" href="#" data-original-title="Facebook"></a>
              <a class="fa fa-twitter social_icons" href="https://twitter.com/#" data-original-title="Twitter"></a>
              <a class="fa fa-flickr social_icons" href="http://www.flickr.com/photos/#" data-original-title="Flickr"></a>
              <a class="fa fa-youtube social_icons" href="http://www.youtube.com/#" data-original-title="Youtube"></a>
              <a class="fa fa-linkedin social_icons" href="#" data-original-title="Linkedin"></a>
          </div> -->
        </div> <!-- end .article-author  -->

        {{ if .NextInSection }}
        <a class="btn btn-primary fr" href="{{.NextInSection.Permalink}}">Next Event <i class="fa fa-angle-double-right"></i></a>
        {{ end }}
        {{ if .PrevInSection }}
        <a class="btn btn-primary" href="{{.PrevInSection.Permalink}}"><i class="fa fa-angle-double-left"></i> Previous Event</a>
        {{ end }}
          
      </div>
    </div> <!--  end container -->
  </section> <!-- end .section-content-block  -->   

{{ end }}