 <!--  DONATE  -->
<section class="section-content-block section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <div class="section-counter-heading">
                    <h2>Help Prevent 5G Radiation</h2>
                    <p>Join us in the fight against 5G and secure the lives of families for future generations.</p>
                    <a class="btn btn-default counter-button" target="_donate" href="https://www.gofundme.com/f/no-5g-for-humanity-now-or-never/donate">Donate</a>
                </div>
            </div> <!-- end .col-md-6  -->
            <div class="col-md-6 col-sm-12">
                <p class="section-counter-heading white padding-top-double">The subject of 5G will be illusory for a longtime. Something like the dangers of smoking; is a cell phone located next to your head dangerous, are drugs harmful? These are matters that are hidden from most of society.</p>
            </div>
        </div> <!-- end row  -->
    </div> <!--  end .container  -->
</section> <!--  end .section-counter -->