 <!--  DONATE  -->
<section class="section-content-block section-counter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 ">
                <div class="section-counter-heading">
                    <h2>Help Prevent 5G Radiation</h2>
                    <p>We will fight against 5G.</p>
                    <a class="btn btn-default counter-button" target="_donate" href="https://www.gofundme.com/f/no-5g-for-humanity-now-or-never/donate">Donate</a>
                </div>
            </div> <!-- end .col-md-6  -->
            <div class="col-md-6 col-sm-12">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="counter-block-2">
                            <span class="counter">250</span>
                            <h4>Known Cases<span> of Radiation</span></h4>
                        </div>
                    </div> <!--  end col-md-6  -->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="counter-block-2">
                            <span class="counter">250</span>
                            <h4>Known Cases<span> of Radiation</span></h4>
                        </div>
                    </div> <!--  end col-md-6  -->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="counter-block-2">
                            <span class="counter">250</span>
                            <h4>Known Cases<span> of Radiation</span></h4>
                        </div>
                    </div> <!--  end col-md-6  -->
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="counter-block-2">
                            <span class="counter">250</span>
                            <h4>Known Cases<span> of Radiation</span></h4>
                        </div>
                    </div> <!--  end col-md-6  -->
                </div> <!-- end row  -->
            </div>
        </div> <!-- end row  -->
    </div> <!--  end .container  -->
</section> <!--  end .section-counter -->